<div class="row">
    <!-- header -->
  <div class="row">
      <div class="col s4"><h5><i class="mdi-action-account-child"></i> People</h5></div>

      <div class="col s8 right-align"><a class="btn waves-effect">Create New</a> <a ui-sref="list" class="btn waves-effect blue">Listing</a></div>
  </div>

    <!-- form -->
  <div class="row">
    <div class="col s12">
        <div class="input-field col s3">
            <input id="name" type="text">
            <label for="name">Name</label>
        </div>
        <div class="input-field col s3">
            <input id="email" type="text">
            <label for="email">E-mail</label>
        </div>
        <div class="input-field col s6">
            <input id="address" type="text">
            <label for="address">Address</label>
        </div>
    </div>
    <div class="col">
        <a class="btn">Add Person</a>
        <a class="btn">Cancel</a>
    </div>

  </div>

    <!-- table -->
  <div class="row">
        <table class="bordered">
            <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="email">Email</th>
                <th data-field="address">Address</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>name --</td>
                <td>email --</td>
                <td>address--</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

